
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.</p> <span class="made">Made with ❤️</span>
    
  </div>
</div>
</body>
</html>
