<%- include("partials/header") -%>

<h1>Create Blog</h1>

<form class="form" method="post" action="/create">
  <div class="form-group">
    <label for="blog-title-form">Title</label>
    <input
      id="blog-title-form"
      type="text"
      class="form-control"
      name="blogTitle"
    />
    <label for="blog-post-form">Content</label>
    <textarea
      id="blog-post-form"
      name="blogBody"
      class="form-control"
      cols="30"
      rows="5"
    ></textarea>
  </div>

  <button class="btn btn-primary btn-publish" type="submit" name="publishButton">
    Publish
  </button>
</form>

<%- include("partials/footer") -%>
