<%- include("partials/header") -%>


<div class="text-center">
  <h2 class="hero-title">Stay productive with us!</h2>
<div class=""><h1>Publish your passions your way. Whether you'd like to share your knowledge,
  experiences or the latest news, create a unique and beautiful blog for free.</h1></div>
  <div class=""> <img src="image/blog-image.webp" class="img-fluid"></div>
  <div class="flex justify-center ">
    <div>
    <a href="/blog" class="btn noselect btn-explore">
        <span class="text">Explore</span>
        <span class="icon">
          🔎
    </a>
  </div>
</div>
</div>

<%- include("partials/footer") -%>
